.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.shopping-cart {
  display: flex;
  align-items: center;
  width: 380px;
  justify-content: space-between;
}

.shopping-cart img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
}

.cart h4 {
  margin-top: 30px;
}